@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@layer base {
  html {
    font-family: "Rubik", system-ui, sans-serif;
  }

  h1 {
    @apply text-black text-4xl py-4;
  }

  h2 {
    @apply text-black text-3xl py-2;
  }

  h3 {
    @apply text-black text-2xl py-2;
  }

  h4 {
    @apply text-black text-xl py-2;
  }

  h5 {
    @apply text-black text-lg py-2;
  }

  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 0.5s ease-in-out infinite;
}

#scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
